img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

li {
  list-style: none;
  padding: 10px;
  width: 400px;
}

textarea {
  height: 200px;
  width: 550px;
}

.addDesign {

}

.Designs{
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90%;
  padding: 100px;
  margin: 10px;
}

.Designs h3 {
  text-align: center;
}
